@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
}

@font-face {
  font-family: "NmRegular";
  src: url("./assets/fonts/NmRegular.otf") format("opentype");
}

@font-face {
  font-family: "NmBold";
  src: url("./assets/fonts/NmBold.otf") format("opentype");
}

@font-face {
  font-family: "NmLight";
  src: url("./assets/fonts/NmLight.otf") format("openType");
}

@font-face {
  font-family: "NmMedium";
  src: url("./assets/fonts/NmMedium.otf") format("openType");
}

.title {
  @apply font-['NmBold'];
}

.header-medium {
  @apply font-['NmMedium'] tracking-wide;
}

.header-regular {
  @apply font-['NmRegular'] tracking-wide;
}

.speed {
  z-index: 99;
  background-repeat: no-repeat;
  background-image: url("../src/assets/images/shape2.png");
}

.gradient {
  @apply bg-gradient-to-r from-purple-800 from-5% via-red-500  to-secondary to-95% bg-clip-text text-transparent;
}

.text-regular {
  font-size: 14px;
}
